include src/cuda4py/*.py
include src/cuda4py/_impl/*.py
include src/cuda4py/_impl/cudnn/*.py
include src/cuda4py/blas/*.py
include src/cuda4py/cudnn/*.py
include src/cuda4py/cufft/*.py
include tests/*.py
include tests/*.cu
include LICENSE
include README
include README.md
include setup.py
